# MS1 — Auth & Usuarios
VITE_MS1_URL=http://localhost:3001

# MS2 — Carreras, Cursos, ProfesorCurso
VITE_MS2_URL=http://localhost:3002

# MS3 — Calificaciones (FastAPI + MongoDB)
VITE_MS3_URL=http://localhost:3003

# Modo mock: permite login sin backend (solo desarrollo)
# Credenciales disponibles cuando está en true:
#   admin@utec.edu.pe       / admin123
#   juan.perez@utec.edu.pe  / profesor123
#   maria.garcia@utec.edu.pe / estudiante123
VITE_MOCK_AUTH=false
